/* Feed.css */
.feed-container {
    position: relative;
    width: 100%;
    height: 650vh;
    overflow: hidden;
    background-color: #fff;
}

.scroll-box {
    position: absolute;
    width: 100%;
    height: 300px;
    background-color: #f0992c;
    color: black;
    text-align: center;
    padding: 20px;
    font-size: 20px;
    border: 1px solid #000;
    box-sizing: border-box;
    animation: scroll-animation 220s linear infinite;
    /* Adjusted time for slower, smoother scrolling */
    border-radius: 8px;
}

@keyframes scroll-animation {
    0% {
        transform: translateY(850vh);
        /* Start below the viewport */
    }

    100% {
        transform: translateY(-2200px);
        /* Ensure enough distance to loop all boxes */
    }
}